.inicioSesion{
  font-weight: 700;
  color: #4158b3;
  font-size: large;
}
.input-wrapper {
  position: relative;
  width: 271px;
}
.placeholderstyle{
  font-weight: 400;
}
.inputConstraseña {
  width: 100%;
  box-sizing: border-box;
  color: #191919;
  padding: 15px 15px 15px 35px;
  width: 100%;
}


.input-icon {
  color: #4158b3;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s ;
}
.input-icon:hover{
  color: #2c4196;
}
.input-icon:active{
  color: black;
}
.input-icon.password {
  left: unset;
  right: 1px;
}
.cardLogin{
  border: 3px solid white;
}
.pequeño{
  width: 164px;
}
.bordeRadius{
  border-radius: 80px;
}
.profesoraLogin{
  width: 200px;
  float: right;
}
.backgroundLogin{
  background-color: #eee;
}
.imgLogin{
  width: 185px;
}
.gradient-custom-2 {
  background: linear-gradient(to top, #97C1E8, #3C7DCA, #003A6F);

  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }


.bordefigura{
  border: 2px solid #4158b3;
}
.topetopo{
  margin-top: 5rem!important;
}
.formLogin {
  
  margin-bottom: 40px;
  max-width: 277px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
figure {
  min-height: 150px;
  --skinH: 30;
  --skinS: 100%;
  --skinL: 87%;
  --hair: rgb(180, 70, 60);
  background: #97c1e8;
  border: 1px solid #d7e3ef;
  border-radius: 50%;
  margin: auto auto;
  order: 1;
  width: 60%;
  position: relative;
  overflow: hidden;
}

figure div {
  position: absolute;
  transform: translate(-50%, -50%);
}

figure .skin {
  background: hsl(var(--skinH), var(--skinS), var(--skinL));
}

figure .head {
  top: 40%;
  left: 50%;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  box-shadow: 0 -0.175rem 0 0.125rem var(--hair);
}

figure .ears {
  top: 47%;
  left: 50%;
  white-space: nowrap;
}

figure .ears::before,
figure .ears::after {
  content: "";
  background: hsl(var(--skinH), var(--skinS), var(--skinL));
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 2.1rem;
}
.a11y-hidden {
  position: absolute;
  top: -1000em;
  left: -1000em;
}
.label-show-password {
  order: 3;
}
.label-show-password {
  order: 3;
}
label > span {
  color: var(--borderDarker);
  display: block;
  font-size: 0.825rem;
  margin-top: 0.625rem;
  order: 1;
  transition: all 0.25s;
}

figure .head .eyes {
  top: 55%;
  left: 50%;
  white-space: nowrap;
}

@-webkit-keyframes pestañear {
  0%,
  90%,
  100% {
    height: 10px;
  }
  95% {
    height: 0;
  }
}

@keyframes pestañear {
  0%,
  90%,
  100% {
    height: 10px;
  }
  95% {
    height: 0px;
  }
}

figure .head .eyes::before,
figure .head .eyes::after {
  content: "";
  background: rgba(0, 0, 0, 0.637);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: pestañear 2.5s infinite;
  animation: pestañear 2.5s infinite;
  transition: all 0.15s;
}



figure .head .mouth {
  border: 0.125rem solid transparent;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.637);
  width: 25%;
  border-radius: 50%;
  transition: all 0.5s;
}

form:invalid figure .head .mouth {
  top: 75%;
  left: 50%;
  height: 10%;
}

form:valid figure .head .mouth {
  top: 60%;
  left: 50%;
  width: 40%;
  height: 40%;
}

figure .hair {
  top: 40%;
  left: 50%;
  width: 66.66%;
  height: 66.66%;
  border-radius: 100%;
  overflow: hidden;
}

figure .hair::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--hair);
  border-radius: 50%;
  top: -60%;
  left: -50%;
  box-shadow: 4rem 0 var(--hair);
}

figure .neck {
  width: 10%;
  height: 40%;
  top: 62%;
  left: 50%;
  background: hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.94));
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0.25rem var(--border);
}

figure .person-body {
  width: 60%;
  height: 100%;
  border-radius: 50%;
  left: 50%;
  top: 126%;
  background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

figure .shirt-1,
figure .shirt-2 {
  width: 12%;
  height: 7%;
  background: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
  top: 76%;
  left: 36.5%;
  transform: skew(-10deg) rotate(15deg);
}

figure .shirt-2 {
  left: 52.5%;
  transform: skew(10deg) rotate(-15deg);
}

tool-tip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  background-color: white;
  color: #000;
  text-align: center;

  box-shadow: 0 0 10px black;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 8px;

  top: -7%;
  left: 11%;

  opacity: 0;
  transition: opacity 0.3s easy;
}

:has(> tool-tip) {
  position: relative;
}

:has(> tool-tip):hover tool-tip {
  opacity: 1;
}
.divLogin {
  background-image: url("https://movimentorpg.com.br/wp-content/uploads/2021/05/professor-oak-1024x576.jpg");
  padding-bottom: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  min-height: 900px;
}
.paddingCarta{
  padding: 35px;
}
.form-login {
  width: 400px;
    height: 340px;
    background: #24303c;
    margin: auto;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
    padding-bottom: 540px;
    text-align: center;
    border-radius: 20px;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
}

.buttonsLogin {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.separadorBottom {
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #017bab;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}
