.pokemon_img {
  border: 2px solid #ccc;
  width: 100%;
  border-radius: 3px;
  margin-top: 8em;
  color: #fff;
}
.pokemon_img img {
  height: 500%;
  width: 90%;
  margin-top: -7em;
  margin-left: 2em;
}

.info_pokemon {
  margin-top: 2em;
}

.info_pokemon {
  margin-top: 2em;
}

.buttonPokemonInfo {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #4158b3;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonPokemonInfo:hover {
  background-color: #2c4196;
  box-shadow: 0px 15px 20px rgba(44, 65, 150, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.buttonPokemonInfo:active {
  transform: translateY(-1px);
}

.image_tipo {
  width: 100px;
}

.pokemon_name {
  display: flex;
  height: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.pokemon_name {
  margin: 0 auto;
}

.order_pokemon {
  font-size: 100px;
  position: absolute;
  z-index: 0;
  opacity: 0.25;
}

.description_pokemon {
  background-color: #ecedf0;
}

.aditional_info_pokemon li {
  list-style: none;
}
