.imagen_perfil .btn_imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn_imagen {
  display: none;
}

.imagen_perfil:hover .btn_imagen,
img:hover {
  filter: grayscale();
  transition: 0.5s 0s linear;
  display: inline-block;
}
