.pokeimg_centrada{
  display: block;
  margin:auto;
  max-height: 470px;
  min-width: 380px;
  border-radius: 7px;
}
.grupos_huevo_img{
  float: right;
  border-radius: 7px;
  max-height: 450px;
}
.portada{
  border-radius: 7px;
  max-height: 460px ;
}
.pokeimg{
    width: 270px;
    float: right;
    border-radius: 7px;
}
.crianza_imagen {
    width: 180px;
    height: 135px;
    float: right;
    border-radius: 7px;
}
.descripcion {
  margin-left: 10px;
  margin-right: 10px;
}
.generoimg{
  max-width: 14px;
  max-height: 14px;
}
.centred{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pokemonimg{
  max-width: 96px;
  max-height: 96px;
}